* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* Nav Bar */

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #2873F0;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;

}

nav .fa-solid {
    display: none;
}

@media (max-width: 700px) {
    .heading {
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #D1DCF2;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid {
        display: block;
        color: #2873F0;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 20px;

    }
}

/* Hero Section */


.row {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.hero {
    width: 90%;
    margin: auto;
    text-align: center;
}

.hero-display {
    flex-basis: 32%;
    margin-top: 0px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.hero-display img {
    width: 100%;
    height: 100%;
    display: block;
}

h3 {
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
}

h6 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.layer-1 {
    background: transparent;
    justify-content: center;
    color: #FB6305;
    font-size: 48px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
}
.layer {
    background: transparent;
    font-size: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: #D1DCF2;
    opacity: 80%;
}

.layer h6 {
    width: 100%;
    font-weight: 300;
    color: #2873F0;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h6 {
    bottom: 49%;
    font-weight: 500;
    opacity: 1;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/* Hero Section */

.h {
    border: 0.5px solid #D1DCF2;
}

.selection-bar {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
}

.topics a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.topics a:hover {
    color: #2873F0;

}

.h {
    border: 0.5px solid #D1DCF2;
}

/* Coffee */

.coffee-title {
    margin-top: 5%;
    margin-left: 100px;
    display: flex;
    text-align: left;
    padding: 0 10px 10px 10px;
}

.coffee-title h4 {
    font-size: 48px;
    color: #2873F0;
}

.coffee-title p {
    font-size: 15px;
    margin-top: 5%;
}

/* Coffee Display */


.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
}

.coffee-display {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.coffee-col {
    flex-basis: 32%;
    margin-top: 0px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 1px solid#2873F0;
    
}

.coffee-col img {
    width: 100%;
    height: 100%;
    display: block;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: #D1DCF2;
    opacity: 80%;
}

.layer h3 {
    width: 100%;
    font-weight: 300;
    color: #2873F0;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    font-weight: 500;
    opacity: 1;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/* Tea */

.tea-title {
    margin-top: 5%;
    margin-left: 100px;
    display: flex;
    text-align: left;
    padding: 0 10px 10px 10px;
}

.tea-title h4 {
    font-size: 48px;
    color: #2873F0;
}

.tea-title p {
    font-size: 15px;
    margin-top: 5%;
}

/* Tea Display */


.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
}

.tea-display {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.tea-col {
    flex-basis: 32%;
    margin-top: 0px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 1px solid#2873F0;
    
}

.tea-col img {
    width: 100%;
    height: 100%;
    display: block;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: #D1DCF2;
    opacity: 80%;
}

.layer h3 {
    width: 100%;
    font-weight: 300;
    color: #2873F0;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    font-weight: 500;
    opacity: 1;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Bakery */

.bake-title {
    margin-top: 5%;
    margin-left: 100px;
    display: flex;
    text-align: left;
    padding: 0 10px 10px 10px;
}

.bake-title h4 {
    font-size: 48px;
    color: #2873F0;
}

.bake-title p {
    font-size: 15px;
    margin-top: 5%;
}

/* Bakery Display */


.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
}

.bake-display {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.bake-col {
    flex-basis: 32%;
    margin-top: 0px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 1px solid#2873F0;
    
}

.bake-col img {
    width: 100%;
    height: 100%;
    display: block;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: #D1DCF2;
    opacity: 80%;
}

.layer h3 {
    width: 100%;
    font-weight: 300;
    color: #2873F0;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    font-weight: 500;
    opacity: 1;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Footer */

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    
}

ul {
    list-style: none;
}

.footer {
    background-color: #D1DCF2;
    box-sizing: border-box;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
} 

.footer-col img {
    width: 150px;
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #2873F0;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #2873F0;
    padding-left: 5px;
}


@media (max-width: 767px) {
    .footer-col{
        width: 55%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col{
        width: 100%;
    }
}